.bnt{
    display:inline-block;
    text-deoration:none;
    background:#87befd;
    color:#FFF;
    width:240px;
    height:240px;
    line-height:240px;
    border-radius:50%;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
    transition: .4s;
}.bnt:hover{
    background:#668ad8
}